@import url("../css/components/navbar.css");

@font-face {
    font-family: WorkSans;
    src: url(../fonts/WorkSans-Regular.ttf);
}
@font-face {
    font-family: Montserra;
    src: url(../fonts/Montserrat-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#story {
    min-width: 100%;
    min-height: 50vh;
    background-color: rgba(0, 0, 255, 0.537);
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;

}

.story_title {
    font-size: 65px;
    font-weight: bold;
    color: white;
    padding-left: 150px;
    font-family: sans-serif;
    padding-top: 70px;

}

.story_text {
    color: white;
    width: 1000px;
    padding-left: 150px;
    font-size: 25px;
    font-family: monospace;
}

.images1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 75vh;
    gap: 20px;
}

.images1 img {
    width: 35%;
}

#image {
    min-width: 100%;
    height: 300px;
    text-align: center;
    margin-bottom: 50px;
}

#image img {
    width: 35%;
}

#title {
    width: 100%;
    background-color: rgba(0, 0, 255, 0.537);
    display: flex;
    min-height: 80vh;
    justify-content: space-around;
    font-family: Worksans;
    align-items: center;
    position: relative;
}


.titlehead {
    font-weight: 900;
    font-size: 50px;
    color: white;
    font-size: 50px;
    margin-top: 50px;
    position: absolute;
    top: 0;
    left: 80px;
    font-family: 'karla' sans-serif;
    font-style: italic;
}

.title_text1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-height: 80vh;
    font-size: 1.5rem;
    color: white;
    font-family: 'karla' sans-serif;
    padding-top: 150px;


}

.title_textp {
    font-size: 40px;
    font-weight: 600;
}

#photo img {
    width: 30%;
    height: 350px;
}

#photo {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    min-height: 70vh;
    width: 100%;
    align-items: center;
}

.select {
    min-width: 100%;
    min-height: 30vh;
    background-color: rgba(0, 0, 255, 0.537);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.select a:first-child {
    text-decoration: none;
    font-size: 30px;
    background-color: blue;
    color: white;
    font-family: sans-serif;
    padding: 12px, 5px;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
}

.select a:last-child {
    text-decoration: none;
    font-size: 30px;
    background-color: transparent;
    color: white;
    font-family: sans-serif;
    padding: 12px, 5px;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    transition: .3s ease;
}

.select .hov2:hover {
    background-color: white;
    color: black;
}

.select .hov1:hover {
    background-color: white;
    color: black;

}
.bg-image {
    background-image: url("../img/mbr-18.jpg");
    max-width: 100%;
    min-height: 90vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;

}

.bg-texts {
    position: absolute;
    top: 50%;
    font-family: WorkSans;
    left: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
  
    gap: 30px;
    /* border: 1px solid red; */
    align-items: center;
    transform: translate(-50%, -50%);
}

.bg-texts h1 {
    font-size: 110px;
    color: white;
    font-weight: bold;
}
.bg-texts h4
{
    font-family: Montserra;
    font-weight: 200;
    font-size: 20px;
    color: white;

}
.bg-buttons
{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.bg-buttons button
{
    width: 150px;
    height: 55px;
}
.bg-buttons .buy-now-button
{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-family: Montserra;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2px;
    transition: .4s;
}
.bg-buttons .buy-now-button:hover
{
    background-color: white;
    color: gray;
   
}
.bg-buttons .more-button
{
    background-color: rgb(57, 85, 170);
    border: none;
    color: white;
    font-family: Montserra;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2px;
    transition: .4s;
}
.bg-buttons .more-button:hover
{
    background-color: rgb(12, 22, 53);   
}
footer
{
    width: 100%;
    height: 100px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-size: 18px;
font-family: Worksans;
color: white;
background-color: rgba(0, 0, 255, 0.537);

}

@media only screen and (min-width:321px) and (max-width:767px) {
    .story_title
    {
        font-size: 25px;
    }
   #title .titlehead
    {
        font-size: 25px;
       position: absolute;
       left: 1%;
       top: 5%;
    }
    #photo img
    {
       
        width: 220px;
        height: auto;
    }
    .select
    {
        position: relative;
        bottom: 15%;
        margin-bottom: 10%;
    }
    #title p
    {
font-size: 15px;
    }
    #title p:hover
    {
       color: black;
    }
   
    .story_text
    {
        padding-bottom: 50px;
        width: 90%;
        font-size: 20px;
        padding-left: 39px;
        text-align: justify;
    }
    .bg-texts h1{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        position: relative;
        font-size: 70px;
        left: 50%;
        transform: translate(-50%,10%);
        align-items: center;
    }
    

}


/* ________Tablet and More Device Size_______________________________________ */

@media only screen and (min-width: 768px) and (max-width:1280px) 
{

    .story_text
    {
        padding-bottom: 50px;
        width: 90%;
        text-align: justify;
    }
    .bg-texts h1{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        position: relative;
        font-size: 100px;
        padding-left: 20px;
        padding-right: 20px;
        left: 50%;
        transform: translate(-50%,10%);
        align-items: center;
    }   

}


/* ________Desktop and More Huge Device Size_______________________________________ */

@media only screen and (min-width: 1280px) 
{
  
}